$background-gradient: radial-gradient(circle, rgba(53, 53, 54, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);

$calculator-width: 470px;
$calculator-height: 700px;


$buttons-border-radius: 10px;
$main-buttons: #333333;
$secondary-buttons: #A5A5A5;
$third-buttons: #FF9F0A;

$calculator-opacity: 0.6;
$calculator-border-radius: 20px;
